<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.MatGeroldConnectionString"
            connectionString="Data Source=DESKTOP-7H9KP7G\SQLEXPRESS;Initial Catalog=MatGerold;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.MatGer2ConnectionString"
            connectionString="Data Source=DESKTOP-7H9KP7G\SQLEXPRESS;Initial Catalog=MatGer2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
